<nav class="navigation">
  <ul>
    <li><a href="/admin">Home</a></li>
    <li><a href="/books-admin">Display all books</a></li>
    <li><a href="/admin/search">Search for a book</a></li>
    <li><a href="/books/add">Add New Book</a></li>
    <li><a href="/admin/users">Display all users</a></li>
    <li><a href="/admin/search-user">Search for a user</a></li>
    <li><a href="/admin/user/add">Add New User</a></li>
  </ul>
</nav>