<nav class="navigation">
  <ul>
    <li><a href="/user">Home</a></li>
    <li><a href="/books-user">Display all books</a></li>
    <li><a href="/user/search">Search for books</a></li>
    <li><a href="/books/read-list">Display your read list</a></li>
    <li><a href="/books/want-to-read-list">Display your want-to-read list</a></li>
    <li><a href="/user/profile">Profile</a></li>
  </ul>
</nav>