<h2>Search for a Book</h2>

<h4>Search by title</h4>
<form action="/user/search/query" method="get">
  <input type="text" id="bookTitle" name="bookTitle" />
  <input type="submit" />
</form>
<h4>Search by author</h4>
<form action="/user/search/query" method="get">
  <input type="text" id="bookAuthor" name="bookAuthor" />
  <input type="submit" />
</form>
<h4>Search by ISBN</h4>
<form action="/user/search/query" method="get">
  <input type="text" id="bookISBN" name="bookISBN" />
  <input type="submit" />
</form>
<nav class="bottom-nav">
  <a href="/user">Go home</a>
</nav>