<h3>Welcome to AverageReads, where the books are mediocre, and the functionality
  is always pretty okay</h3>
Are you a regular
<a href="/user">user</a>?
<br />
Or are you an
<a href="/admin">administrator</a>?