<h2>Welcome to your homepage, Admin</h2>
<ul>
  <li><a href="/books-admin">Display all books</a></li>
  <li><a href="/admin/search">Search for books</a></li>
  <li><a href="/admin/users">Display all users</a></li>
</ul>