<h3>Read List</h3>
<table class="table">
  <th>Title</th><th>Author(s)</th><th></th><th></th>
  {{#each results}}
    <tr>
      <!--Title will take you to the book page-->
      <td><a href="/book-admin/{{this.id}}">{{this.title}}</a></td>
      <td>
        {{#each this.author}}
          {{this}}
          {{#unless @last}}, {{/unless}}
        {{/each}}
      </td>
      <td><a href="/books/remove-read-list/{{this.id}}">Remove</a></td>
    </tr>
  {{/each}}
</table>
<a href="/user">Go home</a>