{{>admin-nav}}
<section class="main">
<h2>Search for a User</h2>

<h4>Search by name (if a single name is entered, the system will search by last
  name)</h4>
<form action="/admin/search-user/query" method="get" class="form-group">
  <input type="text" id="userName" name="userName" />
  <input type="submit" />
</form>
<h4>Search by Email</h4>
<form action="/admin/search-user/query" method="get" class="form-group">
  <input type="text" id="userEmail" name="userEmail" />
  <input type="submit" />
</form>
</section>