<h2>Your Information</h2>
<p>First Name: {{data.firstName}}</p>
<p>Last Name: {{data.lastName}}</p>
<p>email: {{data.email}}</p>
<p>Bio: {{data.bio}}</p>
<a href="/user/profile/edit">Edit Profile</a>
<a href="/user">Go Back</a>