{{>user-nav}}
<section class="main">
<h2>Your Information</h2>
<p>First Name: {{data.firstName}}</p>
<p>Last Name: {{data.lastName}}</p>
<p>email: {{data.email}}</p>
<p>Bio: {{data.bio}}</p>
<nav class="bottom-nav">
  <a href="/user/profile/edit">Edit Profile</a>
</nav>
</section>