<h3>Add new user</h3>
<form method="post" action="/admin/user/add" class="form">

  <label for="firstName">First Name:</label>
  <input type="text" id="firstName" name="firstName" /><br />

  <label for="lastName">Last Name:</label>
  <input type="text" id="lastName" name="lastName" /><br />

  <label for="email">Email:</label>
  <input type="text" id="email" name="email" /><br />

  <label for="admin">Is Admin (true or false):</label>
  <input type="text" id="admin" name="admin" /><br />

  <label for="bio">Bio:</label>
  <input type="text" id="bio" name="bio" /><br />

  <input type="submit" id="addUser" name="addUser" value="Add User" />

</form>
<nav class="bottom-nav">
  <a href="/admin/users">Go back</a>
  <a href="/admin">Go home</a>
</nav>